<!DOCTYPE html>
<html>
<head>
	<meta charset="$encoding"/>
    <title>IMT-后台接口管理</title>
	<script type="text/javascript" src="$url/js/jquery.js"></script>  
</head>
<body>

#if($authed)

	<fieldset style="border:1px solid #E2E9EE; padding:10px;">
	  <legend>&nbsp;选择分组&nbsp;</legend>
		
		
		<span>功能模块：</span>
		<select id="imt_group_1">
			<option value ="">--请选择--</option>
			#foreach($group in $groups)
			 <option value ="group1_$velocityCount">$group.name</option>
			#end 
		</select>
		<span>读写类别：</span>
		#foreach($group in $groups)
			#set($group2index = $velocityCount)
			<select id="group1_$velocityCount" class="imt-se-2" style="display:none">
				<option value ="">--请选择--</option>
				#foreach($nextGroup in $group.nexts)
					<option value ="group2_${group2index}_data_$velocityCount">$nextGroup.name</option>
				#end 
			</select>
		#end
		<a class="cc-btn22-grey" href="javascript:refreshFn();">刷新</a>
	</fieldset>

	<br/>

	<fieldset style="border:1px solid #E2E9EE; padding:10px;">
	  <legend>&nbsp;执行列表&nbsp;</legend>
		<table>
	    <thead>
			  <tr>
			    <th>接口描述</th>
			    <th>所属类</th>
			    <th>方法名称</th>
			    <th>返回类型</th>
			    <th>参数</th>
			    <th>调用对象id</th>
			    <th>操作</th>
		    </tr>
		</thead>
		
		#foreach($group in $groups)
			#set($group2index = $velocityCount)
			#foreach($nextGroup in $group.nexts)
				<tbody id="group2_${group2index}_data_$velocityCount" style="display:none">
					#foreach($item in $nextGroup.interfaceInfos)
						<form id="form_${nextGroup.uuid}_$velocityCount">
						<tr>
							<td>$item.datas.get(0)</td>
							<td>$item.className</td>
							<td>$item.methodName</td>
							<td>$item.returnClass.getSimpleName()</td>
							<td>
								#set($datasLength = $item.datas.size())
								#foreach($arg in $item.argumentClasses)
									#set($argNum = $velocityCount + 3)
									#if($datasLength >= $argNum + 1)
										$item.datas.get($argNum)
									#else
										$arg.getName();
									#end
									<input type="text" name="arg"/>
								#end
							</td>
							<td>
								<select name="additionalData">
									#foreach($addData in $item.additionalDatas)
										<option value="$addData">$addData</option>
									#end
								</select>
							</td>
							<td>
								<input type="hidden" name="key" value="$!item.key"/>
								<a class="imt-invoke" formId="form_${nextGroup.uuid}_$velocityCount">调用</a>
							</td>
						</tr>
						</form>
					#end
				</tbody>
			#end 
		#end
		</table>
	</fieldset>

<br/>

<fieldset style="border:1px solid #E2E9EE; padding:10px;">
  <legend>&nbsp;执行结果&nbsp;</legend>
	<div id="imt-div-id-result"></div>
</fieldset>

<script type="text/javascript">

jQuery(function($) {
	$("#imt_group_1").change(function() {
		//$("#imt_group_2").html($("#" + $(this).val()).clone(true));
		$("select.imt-se-2").hide();
		$("tbody").hide();
		$('#imt-div-id-result').html("");
		$("#" + $(this).val()).show();
	});
	
	$(".imt-se-2").change(function() {
		//$("#imt-tbody").html($("#" + $(this).val()).contents().clone(true));
		$("tbody").hide();
		$('#imt-div-id-result').html("");
		$("#" + $(this).val()).show();
	});
	
	$(".imt-invoke").click(function() {
		var formId = "#" + $(this).attr("formId");

		$["ajax"]({
			type: "POST",
			url: "$url",
			data: $(formId).serialize(),
			cache: false,
			success: function(result){
				$('#imt-div-id-result').html(result);
		  	}
		});
	});
});
</script>

#else
	用户没有登陆，或者没有权限
#end

</body>
</html>