<!DOCTYPE html>
<html>
<head>
	<meta charset="$encoding"/>
    <title>IMT-后台接口管理</title>
    <link rel="stylesheet" type="text/css" href="$url/css/simpletree.css"/>
	<script type="text/javascript" src="$url/js/jquery.js"></script>  
	<script type="text/javascript" src="$url/js/simpletree.js"></script>
	
	<style>
		body {
			font: 12px 宋体;
		}
		table {
			border-spacing: 0;
		}
		td {
			border-bottom: 1px solid #ccd;
		}
	</style>
</head>
<body>

#macro(renderMenu $groups)
	<ul>
	#foreach($group in $groups)
		<li><a href="javascript:;" uuid="$group.uuid">$group.name</a></li>
		#if($group.nexts)
			#renderMenu($group.nexts)
		#end
	#end 
	</ul>
#end


#if($authed)
<div style="width: 80%; margin: 30px auto;">
	<div class="st_tree" style="float: left;display: inline;width: 15%; border:1px solid #ccc;">
		#renderMenu($groups)
	</div>
	
	<div style="float:right; display:inline;width: 80%;border:1px solid #ccc; padding:10px;">

			<fieldset style="border:1px solid #ccc; padding:10px; width:97%">
			  <legend>&nbsp;执行列表&nbsp;</legend>
				<table style="width: 100%;word-break:break-all;word-wrap:break-word;overflow:hidden;">
				    <thead>
						  <tr>
						    <th style="width: 15%">接口描述</th>
						    <th style="width: 25%">所属类</th>
						    <th style="width: 12%">方法名称</th>
						    <th style="width: 12%">返回类型</th>
						    <th style="width: 11%">参数</th>
						    <th style="width: 20%">调用对象id</th>
						    <th style="width: 5%">操作</th>
					    </tr>
					</thead>
					
					<tbody>
						#foreach($item in $group.interfaceInfos)
							<form id="form_${group.uuid}_$velocityCount">
							<tr>
								<td>$item.imtInfo.mehtodDescrption</td>
								<td>$item.className</td>
								<td>$item.methodName</td>
								<td>$item.returnClass.getSimpleName()</td>
								<td>
									#foreach($arg in $item.argumentClasses)
										#if($!item.imtInfo.paramDescrption.size() >= $velocityCount)
											#set($argNum = $velocityCount - 1)
											$!item.imtInfo.paramDescrption.get($argNum)
										#else
											$arg.getName();
										#end
										<input type="text" name="arg"/>
									#end
								</td>
								<td>
									<select name="additionalData" style="width:150px">
										#foreach($addData in $item.additionalDatas)
											<option value="$addData">$addData</option>
										#end
									</select>
								</td>
								<td>
									<input type="hidden" name="key" value="$!item.key"/>
									<input type="button" class="imt-invoke" formId="form_${group.uuid}_$velocityCount" value="调用"/>
								</td>
							</tr>
							</form>
						#end
					</tbody>
				</table>
		</fieldset>
		
		<br/>
		
		<fieldset style="border:1px solid #ccc; padding:10px;">
		  <legend>&nbsp;执行结果&nbsp;</legend>
			<div id="imt-div-id-result"></div>
		</fieldset>
	</div>
<br style="clear:both"/>

</div>

<script type="text/javascript">

jQuery(function($) {
	$(".imt-invoke").click(function() {
		var formId = "#" + $(this).attr("formId");

		$["ajax"]({
			type: "POST",
			url: "$url",
			data: $(formId).serialize(),
			cache: false,
			success: function(result){
				$('#imt-div-id-result').html(result);
		  	}
		});
	});
	
	$(".st_tree").SimpleTree({
		click:function(a){
			if(!$(a).attr("hasChild")) {
				location.href = "$url?uuid=" + $(a).attr("uuid");
			}
		},
		
		uuid: "$!uuid"
	});
});

</script>

#else
	用户没有登陆，或者没有权限
#end



</body>
</html>